<%= form_for @project, :html => { :class => "form-horizontal project" } do |f| %>

    <% if @project.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @project.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :ipr_num, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :ipr_num, :class => 'form-control' %>
    </div>
    <%= error_span(@project[:ipr_num]) %>
  </div>
  <div class="control-group">
    <%= f.label :ref_num, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :ref_num, :class => 'form-control' %>
    </div>
    <%= error_span(@project[:ref_num]) %>
  </div>
  <div class="control-group">
    <%= f.label :project_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :project_name, :class => 'form-control' %>
    </div>
    <%= error_span(@project[:project_name]) %>
  </div>
  <div class="control-group">
    <%= f.label :submit_date, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :submit_date, :class => 'form-control' %>
    </div>
    <%= error_span(@project[:submit_date]) %>
  </div>
  <div class="control-group">
    <%= f.label :last_update_date, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :last_update_date, :class => 'form-control' %>
    </div>
    <%= error_span(@project[:last_update_date]) %>
  </div>
  <div class="control-group">
    <%= f.label :step_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :step_id, :class => 'form-control' %>
    </div>
    <%= error_span(@project[:step_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :initiative_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :initiative_id, :class => 'form-control' %>
    </div>
    <%= error_span(@project[:initiative_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :status, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :status, :class => 'form-control' %>
    </div>
    <%= error_span(@project[:status]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            projects_path, :class => 'btn btn-default' %>

<% end %>
